<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cricket team</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Players</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/index">Home</a></li>
      
      
    </ul>
  </div>
</nav>
  
<div class="container">
  <h2>Player List</h2>
</div>
<center>
<form method="POST" action="insert">
      <label> Name </label><input type="text" name="name" id="name"/><br />
      <label> Role </label><input type="text" name="role" id="role"/><br />
      <label> Matches </label><input type="text" name="matches" id="matches"/><br />
      <label> Age </label><input type="text" name="age" id="age"/><br />

    <script>
        var name1 = document.getElementById("name").value;
        var role1 = document.getElementById("role").value;
        var matches1 = document.getElementById("matches").value;
        var age1 = document.getElementById("age").value;
  
    
    </script>    

      <h2><a href="/submit?name=name1&role=role1&matches=matches1&age=age1">Submit </a></h2>
    </form>
</center>    
</body>
</html>
